{% extends 'bases/base_list.html' %}
{% set add_url = url_for('app_servers.add') %}
{% block title %}Application Server List{% endblock %}
{% block table_header %}
<th scope="col">ID</th>
<th scope="col">Name</th>
<th scope="col">Private Address</th>
<th scope="col">OS</th>
<th scope="col">RAM Size, GB</th>
<th scope="col">CPU Cores</th>
<th scope="col">Drive Size, GB</th>
<th scope="col">Deployment</th>
{% endblock %}
{% block table_body %}
{% for app_server in servers if (app_server.deployment in g.user.deployments) or g.user.admin %}
<tr>
    <th scope="row">{{ app_server.id }}</th>
    <td><a href="{{ url_for('app_servers.show', name=app_server.name) }}">{{ app_server.name }}</a></td>
    <td>{{ app_server.private_address }}</td>
    <td>{{ app_server.os }}</td>
    <td>{{ app_server.ram_size }}</td>
    <td>{{ app_server.cpu_cores }}</td>
    <td>{{ app_server.drive_size }}</td>
    {% if app_server.deployment %}
    <td><a href="{{ url_for('deployments.show', name=app_server.deployment.name) }}">{{ app_server.deployment.name }}</a></td>
    {% else %}
    <td>None</td>
    {% endif %}
</tr>
{% endfor %}
{% endblock %}

{% if g.user.admin %}
{% block add_form %}
<div class="form-group p-1">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Server Name" name="name" required>
</div>
<div class="form-group p-1">
    <label for="private_address">Private address</label>
    <input type="text" class="form-control" id="private_address" placeholder="Private address" name="private_address"
           required>
</div>
<div class="form-group p-1">
    <label for="os">OS</label>
    <select class="form-control" id="os" name="os">
        <option value="Windows">Windows</option>
        <option value="Linux">Linux</option>
        <option value="MacOS">MacOS</option>
    </select>
</div>
<div class="form-group p-1">
    <label for="ram_size">RAM size</label>
    <input type="number" class="form-control" id="ram_size" placeholder="RAM size, GB" name="ram_size" required>
</div>
<div class="form-group p-1">
    <label for="cpu_cores">CPU Cores</label>
    <input type="number" class="form-control" id="cpu_cores" placeholder="CPU cores" name="cpu_cores" required>
</div>
<div class="form-group p-1">
    <label for="drive_size">Drive size, GB</label>
    <input type="number" class="form-control" id="drive_size" placeholder="Drive size, GB" name="drive_size" required>
</div>
{% endblock %}
{% endif %}